* {
    margin: 0;
    padding: 0;
}

.container {
    background: wheat;
    width:80%;
    margin:45px auto 0;
    display: grid;
    grid-template-columns: minmax(150px,300px) 1fr 1fr min-content;
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-gap: 5px;
}

.item1 {
    background-color: red;
}
.item2 {
    background-color: rgb(192, 158, 158);
}
.item3 {
    background-color: rgb(50, 82, 178);
}
.item4 {
    background-color: rgb(30, 150, 171);
}
.item5 {
    background-color: rgb(172, 231, 44);
}
.item6 {
    background-color: rgb(127, 108, 12);
}
.item7 {
    background-color: rgb(195, 50, 162);
}

.item8 {
    background-color: rgb(91, 5, 71);
}

.items{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
}